<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>

    <header id="main-header">
      <div class="container">
        <h1>Comments</h1>

        <% console.log(allcomments) %>
        <% for (var i = 0; i < allcomments.length; i++) { %>

          <h3>Comment: <%= allcomments[i].comment_text %> <br>
              User:    <%= allcomments[i].customer_id %>
          </h3>



        <% } %>
      </div>
      <% if (isLoggedIn) { %>
        <div class="container">
          <h1>Make Comment</h1>
          <form method="POST" action"/commented">
            <label>Comment as User: <%= username_comment %></label>
            <input type="text" id="user_comment" name="user_comment">
            <br>
            <input type="submit" value="Submit Comment">
          </form>
        </div>
      <% } %>
    </header>

  </body>
</html>
